<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>User's info</title>
</head>
<body>
<h1>Users</h1>
<table th:border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>surname</th>
        <th>dob</th>
    </tr>
    <td th:text="${user.id}">id</td>
    <td th:text="${user.name}">name</td>
    <td th:text="${user.surname}">lastname</td>
    <td th:text="${user.dob}">email</td>
</table>
<button class="buttonLogout" onclick="window.location.href ='logout';">Logout</button>
</body>
</html>